---
---

@import "{{ site.theme }}";

#container {
    position: fixed;
    width: 300px;
    right: 10px;
    top: 20%;
    background: orange;
    opacity: .9;
    /* color: #000; */
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px;
}