<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	<script src="./jquery-3.5.0.min.js"></script>
	
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header"  
        role="banner">
      <h1 class="project-name">Game Programmer</h1>
	</header>
	
  <!-- <div id="toc"></div> -->
  <div id="container"></div>
	
	<main id="content" class="main-content" role="main">
		{{ content }}
      <footer class="site-footer">
        &copy; 2020 GeniusDogd
      </footer>
	</main>
	
	
	
	<!-- <script src="./toc.js"></script> -->
  
	<script>
    var list = document.querySelectorAll('h1') || []
    var idList = []
    list.forEach(function(item, index) {
      var idItem = item.getAttribute('id')
      idList.push(idItem)
    })
    var container = document.getElementById('container')
    idList.forEach((item, index) => {
      console.log(`a${item}`)
      var linkItem = document.createElement('a')
      linkItem.setAttribute('href', `a${item}`)
      container.appendChild(linkItem)
    })
    // window.onload = function() {
    //   console.log(11111)
    //   var container = document.getElementById('toc')
    //   container.toc()
    // }
		// $(document).ready(function() {
		// $('#toc').toc();
		// });
	</script>
	
  </body> 
  
</html>

  